<h2 class="page-header">Search Books</h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="title">Title</label>
            <input type="text" name="title" value="<%= searchToken.title %>">
        </div>
        <div class="form-item">
            <label for="author">Author</label>
            <input type="text" name="author" value="<%= searchToken.author %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="publishbefore">PublishBefore</label>
            <input type="date" name="publishbefore" value="<%= searchToken.publishbefore %>">
        </div>
        <div class="form-item">
            <label for="publishafter">PublishAfter</label>
            <input type="date" name="publishafter" value="<%= searchToken.publishafter %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<div>
    <% books.forEach(book=>{ %>
        <a href="/books/<%= book.id %>">
            <img height="150" width="100" src="<%= book.coverImagePath %>" alt="Cover_image">
        </a>
        <%})%>
</div>