<h2 class="page-header">
    <%= book.title %>
</h2>
<div class="book-details">
    <div>
        <img class="book-cover" src="<%= book.coverImagePath %> " alt="<%= book.title %> ">
        <div class="book-details-btn-grid">
            <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
            <%- include('../partials/_deleteField',{url: `/books/${book.id}`}) %>
        </div>
    </div>
    <div class="book-details-grid">
        <div class="book-details-label">Author:</div>
        <div><a class="btn btn-primary book-details-auth-btn" href="/authors/<%= book.author.id %>">
                <%= book.author.name %>
            </a> </div>
        <div class="book-details-label">Publish Date:</div>
        <div>
            <%= book.publishDate.toDateString() %>
        </div>
        <div class="book-details-label">Page Count:</div>
        <div>
            <%= book.pageCount %>
        </div>
        <div class="book-details-label">Description:</div>
        <div>
            <%= book.description %>
        </div>
    </div>
</div>