<h2 class="page-header">Search Authors</h2>
<form action="/authors" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="name">Name</label>
            <!-- searchToken.name comes when form is submitted means sarch token shows in input value -->
            <input type="text" name="name" value="<%= searchToken.name %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<% authors.forEach(author=>{ %>
    <div class="author-row">
        <div class="author-name">
            <%= author.name %>
        </div>
    </div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
        <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
        <!-- for deleting data don't use <a> , google will delete all data , as google go thorough each <a> link  -->
        <%- include('../partials/_deleteField',{url: `/authors/${author.id}`}) %>
    </div>
    <%})%>